.App {
  width: 100%;
  margin: auto;
}

.header {
  display: block;
  text-align: center;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dropzone {
  width: 100%;
  height: 100%;
}

.imageContainer {
  width: 100%;
  margin: 10px;
}

.imageStyle {
  width:50%;
}

.controlsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px;
}

.settingsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.setting {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

input {
  text-align: center;
  border: none;
  background-color: transparent;
}

body {
  color: white;
  background-color: #0C0C0C;
}

@media screen and (min-width: 960px) {
  .App {
    width: 75%;
}

  .contentContainer {
  flex-direction: row;
}

.imageContainer {
  width: 47%;
}

.controlsContainer {
  width: 47%;
}

}

@media screen and (min-width: 1920px) {
  .App {
    width: 1080px;
}

}